/* Reset: Padding og margin fjernes, margin og border regnes med i bredden */
*{ 
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
  }

/* ----------Font regler - Fælles ---------- */
h1{
font-family: "roboto-condensed", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 40pt;
}

h2{
font-family: "roboto-condensed", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 25pt;
}

.orange{
color: #ED6C1F;
}

h3{
font-family: "nitti-typewriter-normal", sans-serif;
font-weight: 400;
font-style: normal;
}

h4{
font-family: "nitti-typewriter-cameo", sans-serif;
font-weight: 700;
font-style: normal; 
font-size: 16pt;
}

h5{
font-family: "roboto-condensed", sans-serif;
font-weight: 700;
font-style: normal;
}

p{
font-family: "roboto", sans-serif;
font-weight: 300;
font-style: normal;
letter-spacing: 2px;
line-height: 25px;
font-size: 12pt;
color: #29304D;
}


/* Den orange linje */
hr{
border: solid #ED6C1F 1px;
margin-left: 15%;
margin-right: 15%;
}


/* ---------- Header ----------------------*/
/*Egenskaber for headeren på alle undersider og når forsiden er scrolled*/
header {
    background-color: #29304D;
    padding: 10px;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15%;
    padding-right: 15%;
    position: fixed;
    z-index: 2;
  }
  
/*På forsiden er der ikke nogle baggrund*/
  #header-forside {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out; /*Giver en smoot overgang */
  }

/*Først når der er scrolled mere end 100px (JavaScript, træder denne regel i kraft og giver baggrundsfarve*/
  #header-forside.scrolled {
    background-color: #29304D;
  }

/*Det samme sker her - Tekstfarven på nav'en er i staten hvide*/
  #header-forside nav ul li a{
    color: #f3f3f3;
    transition: color 0.3s ease-in-out; /*Giver en smoot overgang */
  }

/*Når der er scrolled mere end 100px (JavaScript, træder denne regel i kraft og ændrer farven*/
#header-forside nav ul li a.scrolled {
    color: #ED6C1F;  
  }


  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
  }
  
  /*Giver menupunkterne plads imellem sig*/
  nav ul li {
    margin-left: 30px;
    
  }
  
  /*Genrelle regler for menupunkterne*/
  nav ul li a {
    text-decoration: none;
    color: #ED6C1F;
    
    font-family: "nitti-typewriter-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12pt;
  }


.logo-hvid-orange img{
    width: 150px;
}

/*Burger-menuen vises ikke - får display block i media query*/
.burger-menu{
    display: none;
}

.forside-bg{
    width: 100vw;
    height: 100vh;
    background-size:cover;
    background-position: center;
    background-image: url(images/forside-bg1.2jpg.jpg);
    
}

.forside-bg{
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    text-align: center;
}

.tracking-in-expand-fwd {
	animation: tracking-in-expand-fwd 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -1em;
      transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }


  .tracking-in-expand-fwd-bottom {
	animation: tracking-in-expand-fwd-bottom 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s both;
}
@keyframes tracking-in-expand-fwd-bottom {
    0% { /*Når animationen starter*/
      letter-spacing: -0.5em; /*Bogstaverne er oven i hinanden*/
      transform: translateZ(-10px) translateY(50px); /*Bag ved anden tekst og 50px nede*/
      opacity: 0; 
    }
    40% {
      opacity: 0.6; 
    }
    100% {
      transform: translateZ(0) translateY(0); /*Efter de 0.8 sek er teksen lige langt fremme som anden tekst op på sin rette plads ift højde*/
      opacity: 1; /*Teksten er helt synlig*/
    }
  }



@media only screen and (max-width: 980px) {
    .forside-bg h1{
        font-size: 30px;
    }
    .forside-bg h2{
        font-size: 20px;
    }
}


@media only screen and (max-width: 1023px) {
    nav ul{
        display: none;
    }

    .burger-menu{
        display: block;
        width: 30px;
        z-index: 5;
    }

}

/*stregens egenskaber*/
.hover-underline {
    position: relative;
  }
  
  .hover-underline:after {
    /*stregen skal være under teksten og kun være så lang som selve teksten*/
    content: '';
    position: absolute;

    /*stregen fylder tekstens bredde*/
    width: 100%;

    /*stregens x(bredde) starter med at være 0*/
    transform: scaleX(0);

    /*højde på stregen*/
    height: 2px;

    /*animationen skal starte i bunden i venstre af teksten*/
    bottom: -3px;
    left: 0;

    /*stregens farve*/
    background-color: #ED6C1F;

    /*stregen slutter ud i højre side*/
    transform-origin: bottom right;

    /*animationen tager 0.25 sekunder*/
    /*animationen starter hurtigigt og deaccelererer til slut*/
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline:hover::after {
    /*stregens bredde(x-værdi) er synlig og hele rekstens 
    bredde, når man stopper med at hover*/
    transform: scaleX(1);

    /*stregen starter med at forsvinde fra venstre side, 
    når man stopper med at hover*/
    transform-origin: bottom left;
  }


/*
.dropdown-menu{
    height: 0px;
    background-color:blue;
    z-index: 3;
    display: none;
}

.dropdown-menu.active{
    width: 100%;
    height: 500px;
    background-color: red;
    position: absolute;
    z-index: 3;
    display: block;
    
*/





/* ---------- Event sektion på forsiden ---------- */
/* ---------- Event sektion på forsiden - Jacob ---------- */


/* Sektion overskrifter */
.eventoverskrift{
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
}

/* Henryfigur på sektion linje */
#eventhenry{
    height: 50px;
}
/* Højde på sektionen */
.eventsektion{
    height: 900px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* flexbox på laptop version */
.forsideevent{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
}

/* bredde på de 3 div'er så den er respnsive */
.responsive{
    width: 22.55%;
}

/* De forskellige bokses individuelle styles */
#jazz, #tasting, #sommerferie, #quiz, #marked{
    display: flex;
}
#jazz, #tasting, #quiz{
    justify-content: center;
}
#jazz, #tasting, #sommerferie, #marked{
    flex-direction: column;
}
#jazz, #tasting, #quiz{
    align-items: center;
}

#jazz{
    height: 500px;
    background-color: #505127;
    border: solid #A39163 20px;
}
#jazz h5{
    color: #A8A9AD;
    font-size: 40pt;
}
#tasting{
    height: 200px;
    background-color: #FAB393;
    margin-top: 15px;
}
#tasting h5{
    color: #ED6C1F;
    font-size: 30pt;
}
#tasting img{
    height: 100px;
}
#sommerferie{
    height: 400px;
    background-color: #29304D;
    border: solid #CBCBCB 20px;
}
#sommerferie h5{
    color: #ED6C1F;
    font-size: 35pt;
    margin: 10px;
}
#quiz{
    height: 200px;
    background-color: #65C5D3;
    border: solid #0067A1 20px;
    margin-top: 15px;
}
#quiz h5{
    font-size: 40pt;
    color: #ED6C1F;
}
#marked{
    height: 200px;
    background-color: #FFF6B5;
    border: solid #D0DC54 20px;
    text-align: right;
}
#marked h5{
    font-size: 30pt;
    color: #A29C47;
    margin: 10px;
}
#takeover{
    height: 500px;
    background-color: #E38F08;
    border: solid #505127 20px;
    margin-top: 15px;
}
#takeover h5{
    font-size: 35pt;
    color: #505127;
    margin: 20px;
}

/* Flex på kanppen, så teksten står i midten af boksen */
#knapsektion{
    display: flex;
    justify-content: center;
}
.knap{
    /* højde og brede på boksen, samt tykkelse og farve på border */
    height: 50px;
    width: 100px;
    margin-top: 15px;
    border: solid #ED6C1F 2px;
    border-radius: 5px;

    /* flex på, så teksten står i midten af boksen */
    display: flex;
    justify-content: center;
    align-items: center;

    /* minus margin, så den kommer højere op */
    margin-top: -70px;
    
    /* Skrift på kanppen */
    font-family: "roboto-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12pt;
}

/*---------- Breakpoint ----------*/

/* Breakpoint 1 gør skriftstørrelse mindre der hvor det er nødvendigt */
@media only screen and (max-width: 1250px) {
    #tasting h5, #takeover h5, #sommerferie h5{
        font-size: 30pt;
    }
}

/* Breakpoint 2 blier der ændret på skriftstørrelse igen, samt højde på nogle af boksene */
@media only screen and (max-width: 1100px) {
    #jazz{
        height: 400px;
    }
    #jazz h5{
        font-size: 30pt;
    }
    #tasting h5{
        font-size: 25pt;
    }
    #sommerferie{
        height: 300px;
    }
    #sommerferie h5{
        font-size: 25pt;
    }
    #quiz h5{
        font-size: 30pt;
    }
    #takeover{
        height: 400px;
    }
    #takeover h5{
        font-size: 25pt;
    }
}

/* Breakpoint 3 - Her forsvinder laptop versionen og mobil versionen kommer frem ved hjælp af "display: none/block" */
@media only screen and (max-width: 980px) {
    .forsideevent{
        display: none;
    }
    #knapsektion{
        display: none;
    }
    .mobil-forsideevent{
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    .responsive{
        width: 34.2%;
        margin-top: 20px;
    }
    #marked{
        margin-top: 15px;
    }
    #takeover{
        height: 300px;
    }
    #mobil-knapsektion{
        display: flex;
        justify-content: center;
    }
    .knap{
        margin-top: 10px;
    }
}

/* Breakpoint 4 bliver der primært ændret på skriftstørrelse og en smule margin */
@media only screen and (max-width: 650px) {
    #jazz h5{
        font-size: 25pt;
    }
    #takeover h5{
        font-size: 20pt;
        margin: 5px;
    }
    #tasting h5{
        font-size: 20pt;
    }
    #marked h5{
        font-size: 25pt;
    }
    #sommerferie h5{
        font-size: 23px;
    }
}

/* Display none på mobil version, når den er bredere end 980px for at gemme den */
@media only screen and (min-width: 980px) {
    .mobil-forsideevent{
        display: none;
    }
    #mobil-knapsektion{
        display: none;
    }
}
    


/*SEKTION - KAMPAGNE - START ----------------------------------------------------------------*/


.kampagne{
    margin-top: 10%;
}

#nedtælling {
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;

}


.kampagnetekst {

    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 50px;

}


@media only screen and (max-width: 1250px){
    

    
    .vl {
        display: none;
    }

 


}


.kælderdruk p{

    padding-right: 10%;
    margin-top: 40px;

}


.kampagnetekst button{
   
    font-size: 20px;
    font-family: "roboto-condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ED6C1F;
    background-color: white;

    border: solid #ED6C1F 2px;
    border-radius: 5px;
    

    padding: 15px 32px;
    text-decoration: none;
    margin-top: 5%;

   

  }


  .vl {
    border-left: 2px solid #29304D;
    height: 530px;
    margin-top: 7%;
    padding-right: 8%;
  }


.kampagneflex {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.kampagneflex img {
    width: 400px;
    margin-top: 20%;
}




@media only screen and (max-width: 1200px){

    .kampagnetekst{
        display: flex;
        flex-wrap: wrap;

    }

    .kampagneflex img{
        width: 100%;
        
    }

   

}





input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: 3px solid #ED6C1F;
  }
  

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
  
    border: 1px solid #ED6C1F;
    
  }


  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
    
  }
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
    margin: 10%;
    font-family: "nitti-typewriter-normal", sans-serif;
  }

  @media screen and (max-width: 980px){

.container{
    margin: 0%;
}


  }
  
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #29304D;
    z-index: 99;
    display: block;
  }
  

  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
   .signupbtn {
       width: 100%;
    }

   

  }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    

    margin: 20%;
    left: 0;
    top: 0;
    width: 60%; /* Full width */
    height: 65%;/* Full height */
    
    background-color: white;

    margin-top: 15%;
    border: 3px solid #29304D;
   
   
    
  }
  
  /* Modal Content */
  .modal-content {
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 600px;
  }

  .modal button{

    margin: 0%;
    margin-left: 25%;
   
  }

  

/*SEKTION - KOM FORBI - START ---------------------------------------------------------------*/
.find-os-content{
    margin: 0 15% 0 15%;
    margin-bottom: 80px;
}

#åbningstider{
    height: 500px;
    width: 40%;

    margin-top: 30px;
    padding-right: 60px;

    background-color: #ED6C1F;
}

#åbningstider h4{
    margin-left: 30px;
    margin-top: 20px;

}

#åbningstider-HL{
    font-size: 2.5vw;
    
    padding-top: 15px;
    padding-left: 30px;
}

#dag-tid{
    display: flex;
}

#ugedage{
    padding-left: 30px;
    margin-top: 20px;

    line-height: 40px;
    
}

#tider{
    margin-top: 20px;

    margin-left: 50px;

    line-height: 40px;
    min-width: 100px;
    margin-left: 20%;
}

#dag-tid h3{
    font-size: 14pt;
}

#maps-link h3{
    color: black;
    text-decoration: underline;
    
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 30px;
}

#maps-link h3:hover{
    font-family: "nitti-typewriter-cameo";
}



#dayOutput{
    display: none;
  }



#aarhus-kort img{
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    display: flex;
    
    margin-top: 30px;
    margin-left: 30px;

    

}

.find-os-content{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#åbningstider img{
    width: 120px;
    margin-top: -60px;

    margin-left: 50px;
}

@media only screen and (max-width: 980px) {
    .find-os-content{
        flex-direction: column;
    }

    #åbningstider{
        height: 500px;
        width: 70%;
        min-width: 250px;
    
        margin-top: 30px;
        margin-left: 15%;
        margin-right: 15%;
    
        background-color: #ED6C1F;
    }

    #åbningstider-HL{
        font-size: 20pt;
    }

    #aarhus-kort{
        display: flex;
        justify-content: center;
    }

    #aarhus-kort img{
        max-width: 800px;
        min-width: 350px;

        margin-left: -20px;
    }
    
    .find-os-content{

        margin-top: 50px;
    }
}   


/* ---------- Menu underside - Jacob ---------- */

/* Månedens øl banner */
.static {
    position:absolute;
    background: white;
  }
  .static:hover { 
    opacity:0; /**/
  }
  .active ,.static {
    width: 70%;
  }
  #månedens-øl{ /**/
    display: flex;
    justify-content: center;

    padding-top: 150px;
  }


 /* OM MIKKELLER------------------------------*/ 
/* Knapperne */

.menu .eventoverskrift{
    margin-top: 50px;
}

#myBtnContainer{
    text-align: right;
    margin-right: 15%;
    margin-bottom: 50px;
}

.btn{
border: none;
background-color: white;
font-family: "nitti-typewriter-normal", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1.5vw;
margin: 10px;
}
.btn:hover {
    font-family: "nitti-typewriter-cameo", sans-serif;
    font-weight: 700;
  }

  .btn.aktiv {
    font-family: "nitti-typewriter-cameo", sans-serif;
    font-weight: 700;
  }

.oel-menu hr{
    margin-left: 0%;
    margin-right: 0%;
}

.menu h3, .menu h4{
    font-family: "nitti-typewriter-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.menu h3{
    font-size: 2.3vw;
}
.menu h4{
    font-size: 1,6vw;
}
.oel-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 0px;
    margin-left: 15%;
    margin-right: 15%;
}
.oel-menu img{
    width: 90%;
    padding-left: 30px;
}
.filterDiv {
    display: none;
  }
  .show {
    display: block;
  }
  .container {
    margin-top: 20px;
    overflow: hidden;
  }


/*-----Footer-----------------------------------------------*/
  
footer{
    width: 100%;
    height:300px;
    background-color: #29304D;
}

footer h3{
    color: #ED6C1F;
}

footer p{
    font-size: 10pt;
    color: #ED6C1F;
}

footer h3{
    font-size: 16pt;
}



.footer-content{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 50px;
    
}

footer .dag-tid{
    display: flex;
}

footer .dag-tid div{
    margin-right: 20px;
}



@media only screen and (max-width: 980px) {
    .footer-content{
        display: flex;
        flex-direction: column;
    }

    footer{
        height: auto;
    }

    .footer-sektion{
        margin-bottom: 50px;
    }
}
